@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply bg-neutral-950 h-full text-center shadow-lg shadow-black flex flex-col;
}

.reward-bar{
    @apply gradient-bg h-6 w-full;
}

.header{
    @apply bg-neutral-950 h-16 flex justify-center content-stretch items-center text-main text-2xl w-full;
}

.navbar-svg{
    @apply h-24 fill-main absolute -top-0 -z-10 transform translate-y-[-50%] w-full;
}

.navbar{
    @apply bg-main h-16 items-center text-2xl w-full flex place-content-evenly
}

.navbar-icon{
    @apply w-16 h-16 rounded-full active:bg-secondary active:bg-opacity-30 cursor-pointer select-none;
}

.navbar-icon-child{
    @apply text-center text-black flex text-xs flex-col font-britannic transform translate-y-[+25%];
}

.gradient-bg{
    @apply bg-gradient-to-r from-main to-secondary animate-gradient-fast;
}

.error-message{
    @apply text-red-500 text-xs font-light mt-1;
}

.button{
    @apply bg-main text-black px-2 py-1 rounded mt-4 cursor-pointer select-none;
}

.button:hover{
    @apply shadow-sm shadow-secondary;
}

.button:active{
    @apply shadow-lg bg-green-400 transform transition-all duration-300 ease-in-out;
}

.text-input{
    @apply text-white px-3 py-2 bg-neutral-700 caret-main font-normal w-full;
}

.text-input-error{
    @apply border-red-500 border-2;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  .animate-gradient-fast {
    animation: gradient 1s linear infinite;
  }

@screen md{
    .container{
        @apply mx-auto;
    }
}

@screen lg{
    .container{
        @apply w-phone mx-auto;
    }
}

@screen xl{
    .container{
        @apply w-phone mx-auto;
    }
}